<div class="login-page">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <p>
                <span class="p-input-icon-left">
                    <i class="pi pi-home"></i>
                    <input type="text" pInputText placeholder="Название компании" formControlName="companyTitle" />
                </span>
            </p>
        </div>

        <div class="form-group">
            <button pButton pRipple type="submit" label="Войти" class="btn p-button-outlined"
                [disabled]="form.invalid"></button>

            <button pButton pRipple label="Регистрация компании" class="btn p-button-link"
                (click)="registration()"></button>
        </div>
    </form>
</div>