

<h2 mat-dialog-title>Внести задачу</h2>
<mat-dialog-content class="mat-typography">

        <mat-form-field appearance="fill">
          <!-- <mat-label for="email">Email</mat-label> -->
          <textarea matInput class="form-control underlined" id="email" placeholder="Название"
          [(ngModel)]="data.title" 
          ></textarea>
        </mat-form-field>  

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
</mat-dialog-actions>
