<h2>Назначения задач</h2>

<div class="table">
    <div class="card">
        <p-table #dt1 [value]="tasks" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-gridlines" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [scrollable]="true"
            scrollDirection="both" [globalFilterFields]="['task_title']">

                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" [(ngModel)]="search_field" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Search keyword" />
                            </span>
                        </div>
                    </ng-template>
                    
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:15%">Пользователь</th>
                    <th style="width:50%">Задача</th>
                    <th style="width:15%">Статус</th>
                    <th style="width:15%">Старт</th>
                    <th style="width:15%">Конец</th>
                    <th style="width:30%">Инициатор</th>
                </tr>

                <tr>
                    <th style="width:15%">
                        <p-columnFilter type="text" field="user" [showMenu]='false'></p-columnFilter>
                    </th>

                    <th style="width:50%">
                        <p-columnFilter type="text" field="task_title" [showMenu]='false'></p-columnFilter>
                    </th>

                    <th style="width:15%">
                        <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                    placeholder="Any" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th style="width:15%">
                        <p-columnFilter type="text" field="phone" [showMenu]='false'></p-columnFilter>
                    </th>

                    <th style="width:15%">
                        <p-columnFilter type="text" field="phone" [showMenu]='false'></p-columnFilter>
                    </th>

                    <th style="width:30%">
                        <p-columnFilter type="text" field="phone" [showMenu]='false'></p-columnFilter>
                    </th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-task>
                <tr (click)="goToTaskPage(task)">

                    <td style="width:15%">
                        {{task.worker.surname}} {{task.worker.name}} {{task.worker.patronymic}}
                    </td>

                    <td style="width:50%">
                        {{task.task_title}}
                    </td>

                    <td style="width:15%">
                        {{task.isCompleted}}
                    </td>
                    <td style="width:15%">
                        {{task.date_start}}
                    </td>
                    <td style="width:15%">
                        {{task.date_end}}
                    </td>
                    <td style="width:30%">
                        {{task.initiator}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Задач не найдено.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>