<h1>Задача</h1>

<div class="title"> {{task.title}}</div>

<div class="btn-filter-block">
  <button mat-raised-button color="primary"  (click)="addStep()"> Добавить шаг </button>
</div>



<p-orderList [value]="task.steps" [listStyle]="{'height':'auto'}" header="Шаги задачи" [dragdrop]="true"
    (onReorder)="orderChanged()" class="order-list">
    <ng-template let-step pTemplate="item" class="order-list">
        <div class="step-item">
            <div class="step-number">
                <!-- {{step.number}} -->
            </div>
            <div>
                <div>
                    {{steps[step]?.title}}
                </div>
            
                <div>
                    <mat-list role="list" *ngFor="let check_point of step.check_list">
                        <mat-list-item role="listitem">{{check_point}}</mat-list-item>
                    </mat-list>
                </div>
            </div>

            <div class="butns">
                <div (click)="info(step)">
                    <mat-icon>info</mat-icon>
                </div>
                <div (click)="deleteStep(step)">
                    <mat-icon>delete</mat-icon>
                </div>
            </div>
        </div>
    </ng-template>
</p-orderList>
