<div class="sidebar">
  <div class="logo-details">
    <div class="logo_name">UNRIA</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="system/workers">
        <i class='bx bx-user'></i>
        <span class="links_name">Пользователи</span>
      </a>
      <span class="tooltip">Пользователи</span>
    </li>
    <li>
      <a href="system/groups">
        <i class='bx bx-group'></i>
        <span class="links_name">Группы</span>
      </a>
      <span class="tooltip">Группы</span>
    </li>
    <li>
      <a href="system/assignments">
        <i class='bx bx-folder'></i>
        <span class="links_name">Назначение задач</span>
      </a>
      <span class="tooltip">Назначение задач</span>
    </li>

    <li>
      <a href="system/tasks">
        <i class='bx bx-task'></i>
        <span class="links_name">Шаблоны задач</span>
      </a>
      <span class="tooltip">Задачи</span>
    </li>

    <li>
      <a href="system/assistant">
        <i class='bx bx-cog'></i>
        <span class="links_name">AI - ассистенты</span>
      </a>
      <span class="tooltip">AI - ассистент</span>
    </li>

    <li class="profile">
      <div class="profile-details">
      </div>
      <i class='bx bx-log-out' id="log_out" (click)="logout()"></i>
    </li>
  </ul>
</div>
<section class="home-section">

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</section>