
<div class="worker-info-page">
  <div class="worker-info">

    <div class="p-field">
      <label class="label">Фамилия</label>
      <input pInputText [(ngModel)]="worker.surname" />
    </div>

    <div class="p-field">
      <label class="label">Имя</label>
      <input pInputText [(ngModel)]="worker.name" />
    </div>

    <div class="p-field">
      <label class="label">Отчество</label>
      <input pInputText [(ngModel)]="worker.patronymic" />
    </div>

    <div class="p-field">
      <label class="label">Отдел</label>
      <input pInputText [(ngModel)]="worker.department" />
    </div>

    <div class="p-field">
      <label class="label">Должность</label>
      <input pInputText [(ngModel)]="worker.position" />
    </div>



    <!-- <h3>
      {{worker.fullname}}
    </h3>
    <h3>
      {{worker.email}}
    </h3>
    <h3>
      {{worker.phone}}
    </h3>
    <h3>
      {{worker.postition}}
    </h3>
    <h3>
      {{worker.department}}
    </h3>
    <h3>
      {{worker.password}}
    </h3> -->

    
      <button class="btn btn-primary float-right" (click)="saveWorker()">
       Сохранить изменения
      </button>
    
      <button class="btn btn-primary float-right" (click)="addEvent()">
        Назначить задачу
      </button>

      <button class="btn btn-primary float-right" disabled (click)="addEvent()">
        Сбросить пароль
      </button>

      <button class="btn btn-primary float-right" (click)="deleteWorker()">
        Удалить сотрудника
      </button>

  </div>

  <div class="worker-calendar">
    <full-calendar class="calendar" [options]="options" id="mycal" #mycal></full-calendar>
  </div>

</div>