.calendar {
    // width: 70%;
}

.worker-info-page {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.worker-info {
    width: 30%;
}

.worker-calendar {
    width: 70%;
}

.p-field * {
    display: block;
}

.p-field  {
    margin-bottom: 15px;
}

.label {
    margin-bottom: 2px;
}

input {
    width: 250px;
}
.btn {
    margin-top: 10px;
    width: 250px;
}