
<div class="worker-info-page">
  <div class="worker-info">

<div class="card-container">
  <span class="pro">PRO</span>
  <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
  <h3>Касаткина Анна</h3>
  <h6>Санкт-Петербург</h6>
  <p>UI - разработчик <br /> Front-end - разработчик</p>
  <div class="buttons">
    <button class="primary">
      Сообщения
    </button>
    <button class="primary ghost">
      задача
    </button>
  </div>
  <div class="skills">
    <h6>Навыки</h6>
    <ul>
      <li>UI / UX</li>
      <li>Front End Development</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Node</li>
    </ul>
  </div>
</div>

    <!-- <div class="p-field">
      <label class="label">Фамилия</label>
      <input pInputText [(ngModel)]="worker.surname" />
    </div>

    <div class="p-field">
      <label class="label">Имя</label>
      <input pInputText [(ngModel)]="worker.name" />
    </div>

    <div class="p-field">
      <label class="label">Отчество</label>
      <input pInputText [(ngModel)]="worker.patronymic" />
    </div>

    <div class="p-field">
      <label class="label">Отдел</label>
      <input pInputText [(ngModel)]="worker.department" />
    </div>

    <div class="p-field">
      <label class="label">Должность</label>
      <input pInputText [(ngModel)]="worker.position" />
    </div>

    
      <button class="btn btn-primary float-right" (click)="saveWorker()">
       Сохранить изменения
      </button>
    
      <button class="btn btn-primary float-right" (click)="addEvent()">
        Назначить задачу
      </button>

      <button class="btn btn-primary float-right" disabled (click)="addEvent()">
        Сбросить пароль
      </button>

      <button class="btn btn-primary float-right" (click)="deleteWorker()">
        Удалить пользователя
      </button> -->

  </div>

  <div class="worker-calendar">
    <full-calendar class="calendar" [options]="options" id="mycal" #mycal></full-calendar>
  </div>

</div>