table {
  max-width: 100%;
  min-width: 100%;
}

button {
  margin: 16px 8px;
}

.table {
  max-width: 100%;
}

tr {
  cursor: pointer
}

td.mat-column-star,  td.mat-column-edit, td.mat-column-delete, td.mat-column-info{
  width: 20px;
  padding-right: 8px;
}

.btn-filter-block {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 50%;
}


