<h2 mat-dialog-title>Добавить пользователя</h2>


<form class="add-user-form" [formGroup]="form" (ngSubmit)="addUser()">
    
    <div>
        <div class="row">
            <div>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="lastName"
                        [ngClass]="{'ng-invalid ng-dirty': form.get('lastName')!.invalid && form.get('lastName')!.touched}" />
                    <label>Фамилия</label>
                </span>
            </div>
            <div>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="name"
                        [ngClass]="{'ng-invalid ng-dirty': form.get('name')!.invalid && form.get('name')!.touched}" />
                    <label>Имя</label>
                </span>
            </div>
            <div>
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="middleName" />
                    <label>Отчество</label>
                </span>
            </div>
        </div>

        <div class="row">
            <div>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="phone"
                        [ngClass]="{'ng-invalid ng-dirty': form.get('phone')!.invalid && form.get('phone')!.touched}" />
                    <label>Телефон</label>
                </span>
            </div>
            <div>
                <span class="p-float-label">
                    <input type="email" id="email" pInputText formControlName="email"
                        [ngClass]="{'ng-invalid ng-dirty': form.get('email')!.invalid && form.get('email')!.touched}" />
                    <label>Email</label>
                </span>
            </div>
        </div>

        <div class="row">
            <div>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formContolName="region" />
                    <label>Регион</label>
                </span>
            </div>
            <div>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="department" />
                    <label>Отдел</label>
                </span>
            </div>
            <div>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="position" />
                    <label>Должность</label>
                </span>
            </div>
        </div>
        <div class="row">
            <div>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="password"
                        [ngClass]="{'ng-invalid ng-dirty': form.get('password')!.invalid && form.get('password')!.touched}" />
                    <label>Пароль</label>
                </span>
            </div>
        </div>
    </div>

    <div class="add-button">

        <div>
            <p *ngIf="form.get('password')!.invalid && form.get('password')!.touched">Пользователь с таким телефоном уже
                существует</p>
        </div>
        <div>
            <p *ngIf="form.get('password')!.invalid && form.get('password')!.touched">Пароль должен содержать не менее 5
                символов</p>
        </div>
        <div>
            <p *ngIf="form.get('password')!.invalid && form.get('password')!.touched">Введен некорректный адрес
                электронной
                почты</p>
        </div>
        <div>
            <p *ngIf="form.get('email')!.errors?.['isUserError'] && form.get('email')!.touched">Пользователь с таким
                email уже
                существует</p>
        </div>
        <!-- [disabled]="form.invalid" -->
        <button pButton pRipple type="submit" class="p-button-outlined p-button-rounded btn">Добавить
            пользователя</button>
    </div>
</form>