<h2 mat-dialog-title>Добавить пользователя</h2>


<form class="form" [formGroup]="form">
    <div class="row">
        <div>
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="lastName" />
                <label>Фамилия</label>
            </span>
        </div>
        <div>
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="name" />
                <label>Имя</label>
            </span>
        </div>
        <div>
            <span class="p-float-label">
                <input type="text" pInputText formControlName="middleName" />
                <label>Отчество</label>
            </span>
        </div>
    </div>

    <div class="row">
        <div>
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="phone" />
                <label>Телефон</label>
            </span>
        </div>
        <div>
            <span class="p-float-label">
                <input type="email" id="inputtext" pInputText formControlName="email" />
                <label>Email</label>
            </span>
        </div>
    </div>

    <div class="row">
        <div>
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formContolName="region" />
                <label>Регион</label>
            </span>
        </div>
        <div>
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="department" />
                <label>Отдел</label>
            </span>
        </div>
        <div>
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="position" />
                <label>Должность</label>
            </span>
        </div>
    </div>
    <div class="row">
        <div>
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="password" />
                <label>Пароль</label>
            </span>
        </div>
    </div>
</form>

<div class="add-button">
    <button pButton pRipple type="button" class="p-button-outlined p-button-rounded">Добавить
        пользователя</button>
</div>

<!-- <mat-dialog-content class="mat-typography">

    <mat-form-field appearance="fill">
       
        <input matInput type="text" class="form-control underlined" id="email" placeholder="Фамилия"
            [(ngModel)]="data.surname">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput class="form-control underlined" id="password" placeholder="Имя" [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput class="form-control underlined" id="email" placeholder="Отчество" [(ngModel)]="data.patronymic">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput class="form-control underlined" id="password" placeholder="Телефон" [(ngModel)]="data.phone">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput class="form-control underlined" id="email" placeholder="Должность" [(ngModel)]="data.position">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput class="form-control underlined" id="email" placeholder="Email" [(ngModel)]="data.email">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput class="form-control underlined" id="password" placeholder="Отдел" [(ngModel)]="data.department">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput class="form-control underlined" id="password" placeholder="Пароль" [(ngModel)]="data.password">
    </mat-form-field> -->