h2 {
    padding-top: 10px;
}

.product-badge.status-not-started {
    background: #FFCDD2;
    color: #c63737;
}

.product-badge.status-in-progress {
    background: #FEEDAF;
    color: #8a5340;
}

.product-badge.status-completed {
    background: #C8E6C9;
    color: #256029;
}

.product-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}