<h2>Задачи</h2>


<div class="table">
    <div class="card">
        <p-table #dt1 [value]="tasks" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-gridlines" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [scrollable]="true"
            scrollDirection="both">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:50%">Задача</th>
                    <th style="width:15%">Статус</th>
                    <th style="width:15%">Старт</th>
                    <th style="width:15%">Конец</th>
                    <th style="width:30%">Инициатор</th>
                    <th style="width:15%">Дата создания</th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-task>
                <tr (click)="goToTaskPage(task)">
                    <td style="width:50%">
                        {{task.task_title}}
                    </td>
                    <td style="width:15%">

                        <span *ngIf="task.status == 'not_started'" class="product-badge status-not-started">Не начато</span>
                        <span *ngIf="task.status == 'completed'" class="product-badge status-completed">Завершено</span>
                        <span *ngIf="task.status == 'in_progress'" class="product-badge status-in-progress">Выполяетсяо</span>
<!-- 
                        <div *ngIf="task.status == 'completed'">
                            Завершено
                        </div>
                        <div *ngIf="task.status == 'not_started'">
                            Не начато
                        </div>
                        <div *ngIf="task.status == 'in_progress'">
                            Выполяется
                        </div> -->

                    </td>
                    <td style="width:15%">
                        {{task.date_start | date:'medium':'ru-RU'}}
                    </td>
                    <td style="width:15%">
                        {{task.date_end | date:'medium':'ru-RU'}}
                    </td>
                    <td style="width:30%">
                        {{task.creator}}
                    </td>
                    <td style="width:15%">
                        {{task.date_created | date:'medium':'ru-RU'}}
                    </td>
                    </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Задач не найдено.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>