<!-- <h4>Фотография - подсказка</h4>
<div *ngIf="step.file">
    <img [src]="image_src">
    <button pButton pRipple class="p-button-outlined create-step-btn" (click)="deletePhoto()">Удалить фото</button>
</div>

<div *ngIf="!step.file">
    <p-fileUpload accept="image/*" (uploadHandler)="myUploader($event)" [customUpload]="true" [auto]="true"
        [maxFileSize]="1000000">
    </p-fileUpload>
    <button pButton pRipple type="submit" (click)="addPhoto()"
        class="p-button-outlined create-step-btn">Сохранить</button>
</div> -->