
<div class="worker-info-page">
  <div class="worker-info">

    <div class="card-container">
      <!-- <span class="pro">PRO</span> -->
      <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
      <h3>Касаткина Анна</h3>
      <h6>Санкт-Петербург</h6>
      <p>UI - разработчик <br /> Front-end - разработчик</p>
      <div class="buttons">
        <button class="primary">
          Сообщения
        </button>
        <button class="primary ghost">
          задача
        </button>
      </div>
      <div class="skills">
        <h6>Навыки</h6>
        <ul>
          <li>UI / UX</li>
          <li>Front End Development</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node</li>
        </ul>
      </div>
    </div>

    <!-- <div class="img">

    </div>

    <div class="p-field">
      Касаткина Анна Сергеевна
    </div>

    <div class="p-field">
      IT - отдел, Инженер
    </div>


    <button class="btn btn-primary float-right" (click)="editWorker()">
      Редактировать информацию
    </button>

    <button class="btn btn-primary float-right" (click)="addEvent()">
      Назначить задачу
    </button>

    <button class="btn btn-primary float-right" disabled (click)="addEvent()">
      Сбросить пароль
    </button>

    <button class="btn btn-primary float-right" (click)="deleteWorker()">
      Удалить пользователя
    </button> -->

  </div>

  <div class="worker-calendar">
    <router-outlet></router-outlet>
  </div>
</div>