<div class="worker-info-page">
  <div class="worker-info">
    <div class="card-container">

      <img class="round" width="200" height="200"
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="user" />

      <h3>{{worker.surname}} {{worker.name}} {{worker.patronymic}}</h3>
      <h6>{{worker.region}}</h6>
      <p>{{worker.position}}, {{worker.department}}</p>

      <div class="btns">
        <button pButton pRipple icon="bx bx-user" type="button" class="p-button-outlined" (click)="openInfo()"></button>
        <button pButton pRipple icon="bx bx-calendar" type="button" class="p-button-outlined"
          (click)="openCalendar()"></button>
        <button pButton pRipple icon="bx bx-task" type="button" class="p-button-outlined"
          (click)="openActivity()"></button>
        <!-- <button pButton pRipple icon="bx bx-pie-chart-alt-2" type="button" class="p-button-outlined"
          (click)="openOnboarding()"></button> -->
      </div>

      <div class="buttons">
        <button pButton pRipple type="button" label="Назначить задачу" class="p-button-outlined"
          (click)="assignTask()"></button>
      </div>
    </div>
  </div>

  <div class="worker-calendar">
    <router-outlet></router-outlet>
  </div>
</div>