
<div class="worker-info-page">
  <div class="worker-info">
    <div class="card-container">

      <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />

      <h3>{{worker.surname}} {{worker.name}} {{worker.patronymic}}</h3> 
      <h6>{{worker.region}}</h6>
      <p>{{worker.position}}, {{worker.department}}</p>

      <div class="btns">
        <button pButton pRipple icon="bx bx-user" type="button" class="p-button-outlined" (click)="openInfo()"></button>
        <button pButton pRipple icon="bx bx-calendar" type="button" class="p-button-outlined"
          (click)="openCalendar()"></button>
        <button pButton pRipple icon="bx bx-task" type="button" class="p-button-outlined"
          (click)="openActivity()"></button>
        <button pButton pRipple icon="bx bx-pie-chart-alt-2" type="button" class="p-button-outlined"
          (click)="openOnboarding()"></button>
      </div>

      <div class="buttons">
        <button pButton pRipple type="button" label="Назначить задачу" class="p-button-outlined"
          (click)="assignTask()"></button>
      </div>
    </div>

    <!-- 
      <button class="btn btn-primary float-right" (click)="editWorker()">
        Редактировать информацию
      </button>
  
      <button class="btn btn-primary float-right" disabled (click)="addEvent()">
        Сбросить пароль
      </button>
  
      <button class="btn btn-primary float-right" (click)="deleteWorker()">
        Удалить пользователя
      </button> -->

  </div>

  <div class="worker-calendar">
    <router-outlet></router-outlet>
  </div>
</div>