<h1>Задачи</h1>

<div class="btn-filter-block">
  <button pButton pRipple type="button" class="p-button-outlined p-button-rounded" (click)="addTask()">Внести задачу
  </button>
</div>

<div class="table">
  <div class="card">
    <p-table #dt1 [value]="tasks" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-gridlines" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['name','country.name','representative.name','status']" [scrollable]="true"
      scrollDirection="both">
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Поиск" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width:70%">Название</th>
          <th style="width:30%">Должности</th>
        </tr>

        <tr>
          <th style="width:70%">
            <p-columnFilter type="text" field="name" [showMenu]='false'></p-columnFilter>
          </th>

          <th style="width:30%">
            <p-columnFilter type="text" field="phone" [showMenu]='false'></p-columnFilter>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-task>
        <tr (click)="goToTaskPage(task)">
          <td style="width:70%">
            {{task.title}}
          </td>

          <td style="width:30%">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
