
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

form {
    width: 50%;
}

img {
width: 90%;
}

.photo {
    width: 50%;
}

input,
textarea {
    margin-bottom: 5px;
    width: 80%;
}

.input-box {
    margin-top: 20px;
}

.box-title {
    display: flex;
    align-items: center;
}

.box-title h4 {
    margin: 0px;
}

.create-step-btn {
    margin-top: 20px;
}