input,
textarea {
    margin-bottom: 5px;
    width: 50%;
}

.input-box {
    margin-top: 20px;
}

.box-title {
    display: flex;
    align-items: center;
}

.box-title h4 {
    margin: 0px;
}

.create-step-btn {
    margin-top: 20px;
}